<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">
      Deation & Evaluation - Best <br />
      Way to Kick off Your Product Idea
    </h2>
    <ul class="benefits-list list">
      <li class="benefits__item">
        <h3 class="benefits-list__title">
          Product <br />
          Design Sprint
        </h3>
        <p class="benefits__text">
          A five-day workshop that will help you answer crucial business
          questions
        </p>
        <div class="benefits__link-container">
          <svg
          class="benefits__icon"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
          >
            <path
              d="M10 17l5-5-5-5v10z"
              style="stroke-width: 2; stroke-linejoin: round"
            />
          </svg>

          <a class="benefits__link" href="#">Read More</a>
        </div>
      </li>
      <li class="benefits__item">
        <h3 class="benefits-list__title">Scoping Session</h3>
        <p class="benefits__text">
          A workshop aimed at shaping your business idea, answering questions
          regarding project planning
        </p>
        <div class="benefits__link-container">
          <svg
          class="benefits__icon"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
          >
            <path
              d="M10 17l5-5-5-5v10z"
              style="stroke-width: 2; stroke-linejoin: round"
            />
          </svg>

          <a class="benefits__link" href="#">Read More</a>
        </div>
      </li>
      <li class="benefits__item">
        <h3 class="benefits-list__title">
          UX <br />
          Review
        </h3>
        <p class="benefits__text">
          An evaluation which will help you radically improve your product.
        </p>
        <div class="benefits__link-container">
          <svg
          class="benefits__icon"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
          >
            <path
              d="M10 17l5-5-5-5v10z"
              style="stroke-width: 2; stroke-linejoin: round"
            />
          </svg>

          <a class="benefits__link" href="#">Read More</a>
        </div>
      </li>
      <li class="benefits__item">
        <h3 class="benefits-list__title">
          Code <br />
          Review
        </h3>
        <p class="benefits__text">
          Do you know what one of the key secrets of success is what makes
          people successful in business
        </p>
        <div class="benefits__link-container">
          <svg
          class="benefits__icon"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
          >
            <path
              d="M10 17l5-5-5-5v10z"
              style="stroke-width: 2; stroke-linejoin: round"
            />
          </svg>

          <a class="benefits__link" href="#">Read More</a>
        </div>
      </li>
    </ul>
  </div>
</section>
