<section class="benefits">
  <div class="container">
    <h2 class="companies__title">
      Deation & Evaluation - Best Way to Kick off Your Product Idea
    </h2>
    <ul class="companies-list list">
      <li class="companies__item">
        <h3 class="companies-list__title">Product Design Sprint</h3>
        <p class="companies__text">
          A five-day workshop that will help you answer crucial business
          questions
        </p>
        <a class="companies__link" href="#">Read More</a>
      </li>
      <li class="companies__item">
        <h3 class="companies-list__title">Scoping Session</h3>
        <p class="companies__text">
          A workshop aimed at shaping your business idea, answering questions
          regarding project planning
        </p>
        <a class="companies__link" href="#">Read More</a>
      </li>
      <li class="companies__item">
        <h3 class="companies-list__title">UX Review</h3>
        <p class="companies__text">
          An evaluation which will help you radically improve your product.
        </p>
        <a class="companies__link" href="#">Read More</a>
      </li>
      <li class="companies__item">
        <h3 class="companies-list__title">Code Review</h3>
        <p class="companies__text">
          Do you know what one of the key secrets of success is what makes
          people successful in business
        </p>
        <a class="companies__link" href="#">Read More</a>
      </li>
    </ul>
  </div>
</section>
