<section class="companies">
    <ul class="companies__list list">
      <li class="companies__item">
        <a class="companies__link link" href="">
          <img src="./images/companies/companies_img1.jpg" alt="" />
        </a>
      </li>
      <li class="companies__item">
        <a class="companies__link link" href="">
          <img src="./images/companies/companies_img2.jpg" alt="" />
        </a>
      </li>
      <li class="companies__item">
        <a class="companies__link link" href="">
          <img src="./images/companies/companies_img3.jpg" alt="" />
        </a>
      </li>
      <li class="companies__item">
        <a class="companies__link link" href="">
          <img src="./images/companies/companies_img4.jpg" alt="" />
        </a>
      </li>
      <li class="companies__item">
        <a class="companies__link link" href="">
          <img src="./images/companies/companies_img5.jpg" alt="" />
        </a>
      </li>
    </ul>
</section>
