<footer class="footer">
  <div class="container">
    <ul class="list footer-contacts__list">
      <li class="footer-contacts__item">
        <address class="footer-contacts__address">
          <p class="footer-contacts__title">Phone</p>
          <a class="link footer-contacts__link" href="tel:+3250312832"
            >+32 50 31 28 32</a
          >
        </address>
      </li>
      <li class="footer-contacts__item">
        <address class="footer-contacts__address">
          <p class="footer-contacts__title">Address</p>
          <a
            class="link footer-contacts__link"
            href="https://maps.app.goo.gl/DSKqMWixKooXGxaX7"
            target="_blank"
            >491 Merlin Crest Suite 963</a
          >
        </address>
      </li>
    </ul>
    <hr class="footer__line" />
    <div class="footer__wrapper">
      <div class="footer-services__wrapper">
        <h3 class="footer-services__title">Services</h3>
        <ul class="list footer-services__list">
          <li class="footer-services__item">
            <a class="link footer-services__link" href="">Strategy Design</a>
          </li>
          <li class="footer-services-services__item">
            <a class="link footer-services__link" href="">Product Design</a>
          </li>
          <li class="footer-services__item">
            <a class="link footer-services__link" href="">Content Strategy</a>
          </li>
          <li class="footer-services__item">
            <a class="link footer-services__link" href="">Brand Strategy</a>
          </li>
          <li class="footer-services__item">
            <a class="link footer-services__link" href="">Development</a>
          </li>
        </ul>
      </div>
      <div class="footer-help__wrapper">
        <h3 class="footer-help__title">Help And Advice</h3>
        <ul class="list footer-help__list">
          <li class="footer-help__item">
            <a class="link footer-help__link" href="">How it works</a>
          </li>
          <li class="footer-help__item">
            <a class="link footer-help__link" href="">Contact Support</a>
          </li>
          <li class="footer-help__item">
            <a class="link footer-help__link" href="">Privacy Policy</a>
          </li>
          <li class="footer-help__item">
            <a class="link footer-help__link" href="">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer-company__wrapper">
        <h3 class="footer-company__title">Company</h3>
        <ul class="list footer-company__list">
          <li class="footer-company__item">
            <a class="link footer-company__link" href="">About</a>
          </li>
          <li class="footer-company__item">
            <a class="link footer-company__link" href="">Blog</a>
          </li>
          <li class="footer-company__item">
            <a class="link footer-company__link" href="">Contact</a>
          </li>
          <li class="footer-company__item">
            <a class="link footer-company__link" href="">Jobs</a>
          </li>
        </ul>
      </div>
      <div class="footer-social__wrapper">
        <h3 class="footer-social__title">Get in Touch</h3>
        <p class="footer-social__subtitle">
          Feel free to get in touch with us <br />
          vai email
        </p>
        <address class="footer-social__address">
          <a
            class="link footer-social__mail"
            href="mailto:info.webovio@gmail.com"
            >info.webovio@gmail.com</a
          >
        </address>
        <ul class="list footer-social__list">
          <li>
            <a class="footer-social__link" href="">
              <svg class="footer-social__svg" width="16" height="16">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social__link" href="">
              <svg class="footer-social__svg" width="16" height="16">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social__link" href="">
              <svg class="footer-social__svg" width="20" height="20">
                <use href="./images/icons.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social__link" href="">
              <svg class="footer-social__svg" width="16" height="16">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer__line" />
    <div class="footer-copyright__wrapper">
    <a class="footer__logo link" href="./index.html">
      <img class="footer__img" src="./images/logo.svg" alt="webovio logo" style="width: 43px; height: 28px;">
      <svg class="footer__svg" width="148" height="26">
        <use href="./images/icons.svg#icon-logo-point"></use>
    </svg>    
    </a>
    <p class="footer__copyright">
      &#169; 2020&#64;webovio. All Rights Reserved.
    </p>
  </div>
  </div>
</footer>
