<section class="hero">
  <div class="container">
    <ul class="hero-list list">
      <li class="hero__item">
        <a href="" class="hero__item">
          <!-- svg с вебовио-->
        </a>
      </li>
      <li class="hero__item">
        <button class="hero__item-btn">
          <!-- svg -->
        </button>
      </li>
    </ul>
    <p class="hero__text">A place where</p>
    <h1 class="hero__title">A creative agency for redemptive brands</h1>
    <p class="hero__subtitle">
      Anteelo is a leading strategic design firm that builds powerful digital
      solutions for startups and enterprises.
    </p>
    <div class="hero__link-container">
      <svg
        class="hero__link-icon"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
      >
        <path
          d="M10 17l5-5-5-5v10z"
          style="stroke-width: 2; stroke-linejoin: round"
        />
      </svg>
      <a href="#" class="hero__link">Get in touch</a>
    </div>
  </div>
</section>
