<section class="projects">
  <div class="container">
    <h2 class="projects__title title">
      We Have Some <br />
      Awesome Project.
    </h2>
    <p class="projects__text text">
      Lorem Ipsum is simply dummy text of the printing and <br />
      typesetting industry. Lorem Ipsum has been the industry's <br />
      standard dummy text ever since the 1500s,
    </p>
  </div>
  <ul class="projects-list">
    <li class="projects__item">
      <img
        src="./images/projects/projects_img1.jpg"
        alt=""
        class="projects__img"
      />
      <div class="projects__list-container">
        <h3 class="projects__list-title title">
          The wall new <br />
          Balenciaga.com
        </h3>
        <p class="projects__list-text text">
          This article is floated online with an aim to help you <br />
          find the best dvd printing solution. <br /><br />
          Dvd printing is an important feature used by large <br />
          and small DVD production houses to print <br />
          information on DVDs.
        </p>
        <div class="projects__link-container arrow__link-container">
          <svg height="24px" width="24px" class="arrow__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          <a id="playLink1" class="arrow__link" href="#">See Case Study</a>
        </div>
      </div>
      <div class="comment">
        <p class="comment__text text">
          “In my history of working with trade show <br />
          vendors, I can honestly say that there is not one <br />
          company that I've ever worked with that has <br />
          better service than Exhibit Systems.”
        </p>
        <div class="comment__container">
          <img
            src="./images/projects/comment_img1.jpg"
            alt=""
            class="comment__img"
          />
          <div class="comment__name-container">
            <h4 class="comment__name">Angel Armstrong</h4>
            <p class="comment__profession">Founder & CEO, Google</p>
          </div>
        </div>
      </div>
    </li>
    <li class="projects__item">
      <div class="projects__list-container">
        <h3 class="projects__list-title title">
          Is this the future of <br />
          3D model?
        </h3>
        <p class="projects__list-text text">
          While it was just a TV show, that little speech at the <br />
          beginning of the original Star Trek show really did do <br />
          a good job of capturing our feelings about space. <br /><br />
          It is those feelings that drive our love of astronomy <br />
          and our desire to learn more and more about it.
        </p>
        <div class="projects__link-container arrow__link-container">
          <svg height="24px" width="24px" class="arrow__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          <a id="playLink2" class="arrow__link" href="#">See Case Study</a>
        </div>
      </div>
      <img
        src="./images/projects/projects_img2.jpg"
        alt=""
        class="projects__img"
      />
      <div class="comment">
        <p class="comment__text text">
          “I know they are going to be honest with me. I <br />
          am not going to get a subpar product; I know it <br />
          is going to be good. That is the number one <br />
          advantage of working with Exhibit Systems.”
        </p>
        <div class="comment__container">
          <img
            src="./images/projects/comment_img2.jpg"
            alt=""
            class="comment__img"
          />
          <div class="comment__text-container">
            <h4 class="comment__name">Lina Hart</h4>
            <p class="comment__profession">Founder & CEO, Jico</p>
          </div>
        </div>
      </div>
    </li>
    <div class="megalodon">
      <audio
        class="megalodon-audio"
        id="audioPlayer"
        src="../images/megalodon.mp3"
      ></audio>
      <img
        id="megalodonImage"
        class="megalodon-img"
        src="../images/megalodon.jpg"
        alt="Megalodon"
        style="width: 900px; height: 400px"
      />
    </div>
    <li class="projects__item">
      <img
        src="./images/projects/projects_img3.jpg"
        alt=""
        class="projects__img"
      />
      <div class="projects__list-container">
        <h3 class="projects__list-title title">
          Is this the future of <br />
          Online Booking
        </h3>
        <p class="projects__list-text text">
          You should be able to find several indispensable <br />
          facts about motivation in the following paragraphs. <br /><br />
          If there’s at least one fact you didn’t know before, <br />
          imagine the difference it might make.
        </p>
        <div class="projects__link-container arrow__link-container">
          <svg height="24px" width="24px" class="arrow__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          <a id="playLink3" class="arrow__link" href="#">See Case Study</a>
        </div>
      </div>
      <div class="comment">
        <p class="comment__text text">
          “Exhibit Systems is not a provider. They are not a <br />
          supplier. They are a partner with expertise in <br />
          making trade shows effective.”
        </p>
        <div class="comment__container">
          <img
            src="./images/projects/comment_img3.jpg"
            alt=""
            class="comment__img"
          />
          <div class="comment__text-container">
            <h4 class="comment__name">Eunice Oliver</h4>
            <p class="comment__profession">Founder & CEO, Zeem</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
