<section class="team">
  <div class="container">
    <ul class="team__list list">
      <li class="team__item">
        <p class="team__text">What we do for you</p>
        <h1 class="team__title">
          Strategy. Design <br />
          Content. <span class="team__technology">Technology</span><br />Development
        </h1>
        <h3 class="team__subtitle">
          There’s no secret sauce, no wizard behind the curtain. What makes
          Aerolab tick is an interdisciplinary team with a framework that
          fosters candid collaboration.
        </h3>
        <div class="arrow__link-container">
          <svg height="24px" width="24px" class="arrow__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          <a class="arrow__link" href="#">Read More</a>
        </div>
      </li>
      <li class="founderceo__item">
        <div class="founderceo__container">
          <h3 class="founderceo__subtitle">
            With More than 10 Years of Knowledge and Expertise we Design and
            Code Websites and Apps, We Build Brands and Help Them Succeed
          </h3>
          <div class="information__container">
            <img
              class="information__image"
              srcset="
                ./images/team/team_img1.jpg    370w,
                ./images/team/team_img1@2x.jpg 740w
              "
              src=" ./images/team/team_img1.jpg  "
              alt="ceo&founder"
            />

            <h2 class="information__subtitle">Genevieve Rodriquez</h2>
            <p class="information__text">Founder & CEO, Webovio</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
