.benefits {
  padding-top: 300px;
}
.benefits__title {
  @include title(36px, 700, 46px, normal, $title-color, none);
}
.benefits-list {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
.benefits__item {
  padding: 27px 31px 36px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 309px;
}
.benefits-list__title {
  @include title(24px, 500, 43px, normal, $title-color, uppercase);
}
.benefits__text {
  @include title(14px, 500, 26px, normal, $text-color, none);
  height: 104px;
}
.benefits__link-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 9.5px;

  &:hover,
  &:focus {
    cursor: pointer;
    .benefits__link {
      color: $accent-color;
    }
    .benefits__icon {
      stroke: $accent-color;
      fill: $accent-color;
    }
  }
}
.benefits__link {
  @include title(16px, 700, normal, normal, $unactive-color, none);
  @include transition(color);
  position: relative;
}
.benefits__icon {
  stroke: $unactive-color;
  fill: $unactive-color;
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
