.megalodon {
  position: fixed;
  top: 30%;
  left: 25%;
  z-index: 9999;
}
.megalodon-img { 
  display: none;
  @include transition(transform);
}
.megalodon-img.active {
  display: block;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
