.projects {
  padding-top: 300px;

  .container {
    display: flex;
    align-items: center;
    gap: 133px;
    justify-content: flex-start;
  }
}
.projects__title {
  line-height: normal;
}
.projects-list {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 165px;
}
.projects__item {
  display: flex;
  gap: 96px;
  position: relative;
  align-items: center;

  &:not(:nth-child(2)) {
    .comment {
      left: 323px;
    }
  }
  &:nth-child(2) {
    padding-left: 172px;
    justify-content: space-between;

    .comment {
      right: 323px;
    }
  }
}
.projects__img {
  width: 735px;
  height: 550px;
}
.projects__list-title {
  line-height: 48px;
}
.projects__list-text {
  margin-top: 24px;
}
.projects__link-container {
  margin-top: 90px;
  &:last-child {
    margin-top: 116px;
  }
}

.comment {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  bottom: -40px;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.comment__text {
  color: $title-color;
  font-style: italic;
}
.comment__container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 25px;
}
.comment__img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.18);
}
.comment__name {
  color: $title-color;
  font-size: 16px;
  font-weight: 700;
}
.comment__profession {
  color: #152934;
  font-size: 14px;
  font-weight: 400;
}
