.quote {
  
 
   position: relative;
   
}
.quote__wrapper {
 position: absolute;
  background-color: $white;
  top: -172px;
  padding-top: 70px;
  width: 1275px;
  
}
.quote__title {
display: flex;
    color: $title-color;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 74px;
margin-bottom: 50px;
margin-left: 164px;
align-items: center;

}
.quote__subtitle {
    color: $unactive-color;
display: flex;
font-family: FontAwesome;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-left: 164px;
margin-bottom: 70px;

}